<div id="today" class="col-xs-2">
    <weather-icon></weather-icon>
</div>
<div id="day-1" class="col-xs-2">
    <ul>
        <li class="basecloud"></li>
        <li class="icon-sunny"></li>
    </ul>
</div>
<div id="day-2" class="col-xs-2">
    <ul>
        <li class="basecloud"></li>
        <li class="icon-sunny"></li>
    </ul>
</div>
<div id="day-3" class="col-xs-2">
    <ul>
        <li class="basecloud"></li>
        <li class="icon-sunny"></li>
    </ul>
</div>
<div id="day-4" class="col-xs-2">
    <ul>
        <li class="basecloud"></li>
        <li class="icon-sunny"></li>
    </ul>
</div>
<div id="day-5" class="col-xs-2">
    <ul>
        <li class="basecloud"></li>
        <li class="icon-sunny"></li>
    </ul>
</div>