<div>
    {{weatherData.current.weather[0].id | weather}}
    <!-- Weather Icon for clear or cloudy day -->
    <div ng-show="(weatherData.current.weather[0].id | weather) == 'clouds'">
        <ul ng-if="weatherData.current.clouds.all > 33 && weatherData.current.clouds.all < 70">
            <li class="icon-cloud"></li>
            <li ng-class="{
                  'icon-night' : night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset), 
                  'icon-sunny': !night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset)
                  }">
            </li>
        </ul>
        <ul ng-if="weatherData.current.clouds.all >= 70">
            <li class="icon-cloud"></li>
        </ul>
        <ul ng-if="weatherData.current.clouds.all <= 33">
            <li ng-class="{
                  'icon-moon' : night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset), 
                  'icon-sun': !night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset)
                  }">
            </li>
        </ul>
    </div>
    <!-- Weather Icon for a rainy day -->
    <div ng-show="(weatherData.current.weather[0].id | weather) == 'rain'">
        <ul ng-if="weatherData.current.clouds.all > 33 && weatherData.current.clouds.all < 70">
            <li class="basecloud"></li>
            <li class="icon-rainy">
            </li>
        </ul>
        <ul ng-if="weatherData.current.clouds.all >= 70">
            <li class="basecloud"></li>
            <li class="icon-rain"></li>
        </ul>
        <ul ng-if="weatherData.current.clouds.all <= 33">
            <li class="basecloud"></li>
            <li ng-class="['icon-rainy', {
                  'icon-night' : night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset), 
                  'icon-sunny': !night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset)
                  }]">
            </li>
        </ul>
    </div>
    <!-- Weather Icon for a drizzly day -->
    <div ng-show="(weatherData.current.weather[0].id | weather) == 'drizzle'">
        <ul ng-if="weatherData.current.clouds.all > 33 && weatherData.current.clouds.all < 70">
            <li class="icon-cloud"></li>
            <li ng-class="{
                  'icon-night' : night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset), 
                  'icon-sunny': !night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset)
                  }">
            </li>
        </ul>
        <ul ng-if="weatherData.current.clouds.all >= 70">
            <li class="basecloud"></li>
            <li class="icon-drizzle"></li>
        </ul>
        <ul ng-if="weatherData.current.clouds.all <= 33">
            <li ng-class="{
                  'icon-moon' : night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset), 
                  'icon-sun': !night(weatherData.current.dt, weatherData.current.sys.sunrise, weatherData.current.sys.sunset)
                  }">
            </li>
        </ul>
    </div>
</div>